[Desktop Entry]
Name=JFXChess
Comment=JFXChess
Exec=/opt/jfxchess/bin/JFXChess
Icon=/opt/jfxchess/lib/JFXChess.png
StartupWMClass=org.asdfjkl.jfxchess.gui.App
Terminal=false
Type=Application
Categories=Games
MimeType=
