a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.current {
  color: White !important;
  background-color: LightSlateGray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 1em;
}

.comment {
    color: MidnightBlue;
}