a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.current {
  color: White !important;
  background-color: #004F8B;
}

body {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 1em;
}

.comment {
    color: LightSteelBlue;
}

.variation {
    text-indent: 10em;
    color: white;
}