a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  /* color: black; */
  color: #2D333F;
}

.current {
  color: White !important;
  /* background-color: LightSlateGray; */
  background-color: #AFC7E0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 1em;
}

.comment {
    color: MidnightBlue;
}