[Desktop Entry]
Type=Application
Terminal=false
Name=Jerry - Chess GUI
Exec=/usr/games/jerry
Comment=Chess Program
Icon=jerry
StartupNotify=false
Encoding=UTF-8
Categories=Game
