[Desktop Entry]
Version=3.0.0
Name=Jerry - Chess
Comment=Jerry is a chess program build around the powerful chess engine Stockfish
Exec=/usr/bin/jerry
Path=/usr/share/jerry/
Icon=/usr/share/jerry/res/icons/icon256.png
Terminal=false
Type=Application
Categories=Game;
